/* Box sizing rules */
@import './functions';
@import './varibles';
@import './mixins/mixin';
*,
*::before,
*::after {
 box-sizing: border-box;
}

/* Prevent font size inflation */
html {
 -moz-text-size-adjust: none;
 -webkit-text-size-adjust: none;
 -ms-text-size-adjust: none;
 text-size-adjust: none;
 scroll-behavior: smooth;
 @media only screen and (min-width: 0px) {
  font-size: ($base-font-size / $design-mobile-width) * 100vw;
 }

 @include ifdesktop {
  font-size: ($base-font-size / $design-desktop-width) * 100vw;
 }
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
 margin: 0;
}

input:not(.dashboard__withdraw-input):not(
  .dashboard__datepicker-current-date-value
 ):not(.dashboard__select-level-current-title) {
 background: none;
 border: none;
 outline: none;
 font-size: rem(20px);
 line-height: rem(21.83px);
 font-weight: 400;
 color: rgba(156, 156, 156, 1);
 border-bottom: 1px solid rgba(156, 156, 156, 1);
 padding-bottom: rem(5px);
 transition: 0.3s;
}
input:focus:not(.dashboard__withdraw-input) {
 color: white;
 transition: 0.3s;
 border-bottom: 1px solid rgba(255, 255, 255, 1);
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
 list-style: none;
}

/* Set core body defaults */
body {
 min-height: 100vh;
 line-height: 1.5;
 font-family: $font-main;
 background: rgba(0, 0, 0, 1);
 color: white;
 display: flex;
 flex-direction: column;
 overflow-x: hidden;
 scroll-behavior: smooth;
}
body.scroll-disabled {
 overflow: hidden;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
 line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
 text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
 -webkit-text-decoration-skip: ink;
 text-decoration-skip-ink: auto;
 color: currentColor;
}
a {
 display: contents;
 text-decoration: none;
 color: inherit !important;
}

/* Make images easier to work with */
img,
picture {
 max-width: 100%;
 display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
 font: inherit;
}

/* Make sure textarea without a rows attribute are not tiny */
textarea:not([rows]) {
 min-height: 10em;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0;
}

/* Firefox */
input[type='number'] {
 -moz-appearance: textfield;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
 scroll-margin-block: 5ex;
}

li {
 list-style-type: none;
}
ul {
 padding: 0;
 margin: 0;
}

button {
 border: none;
 cursor: pointer;
}

button.demo {
 background: linear-gradient(
  93.41deg,
  #1a6889 22.48%,
  #81c7dd 53.2%,
  #1a6889 79.18%
 );
}
button.dash-999 {
 background: linear-gradient(
  120.2deg,
  #5b5b5b 0.6%,
  #ffffff 56.36%,
  #5b5b5b 105.56%
 );
}
button.dash-1000 {
 background: linear-gradient(93.41deg, #ddc081 22.48%, #5f976e 79.18%);
}
button.btc {
 background: linear-gradient(93.41deg, #ff9416 22.48%, #627eea 79.18%);
}
