.form-layout {
 width: 100%;
 box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.06) inset;
 backdrop-filter: blur(32.29999923706055px);
 background: linear-gradient(
  88.3deg,
  rgba(71, 150, 124, 0.1) 5.58%,
  rgba(194, 181, 120, 0.002) 98.82%
 );
 @include ifdesktop {
  width: rem(886px);
  border-radius: 100px 0px 0px 0px;
 }

 @include onlymobile {
  display: flex;
  flex-direction: column;
  height: auto;
  flex: 1;
 }
 &__title {
  font-size: rem(40px);
  font-weight: 500;
  line-height: rem(43.66px);
  @include onlymobile {
   font-size: rem(24px);
   line-height: rem(26.2px);
  }
 }
 &__header {
  display: none;
  @include onlymobile {
   display: flex;
   justify-content: space-between;
   padding: rem(15px);
  }
 }
 &__header-logo {
  width: rem(169px);
  height: rem(30px);
 }
 &__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: rem(40px);
  padding-top: rem(70px);
  @include ifdesktop {
   width: rem(700px);
  }
  @include onlymobile {
   padding-top: rem(35px);
   row-gap: rem(50px);
  }
 }
 &__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding-bottom: rem(90px);
  @include onlymobile {
   padding-bottom: rem(30px);
  }
  gap: rem(20px);
 }
 &__input-wrapper {
  @include ifdesktop {
   width: rem(400px);
  }
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: rem(5px);
 }
 &__input-wrapper.verified {
  &::after {
   background: url('../../assets/img/icons/verified.svg') no-repeat;
   background-size: 100%;
   position: absolute;
   content: '';
   right: 0;
   width: rem(16px);
   height: rem(16px);
  }
 }
 &__input-wrapper.verified &__get-code {
  display: none;
 }
 &__input-wrapper input {
  width: 100%;
 }
 &__input:focus + &__input-placeholder {
  color: white;
 }
 &__form {
  display: flex;
  flex-direction: column;
  row-gap: rem(40px);
  @include onlymobile {
   row-gap: rem(30px);
  }
 }
 &__input-placeholder {
  position: absolute;
  font-size: rem(20px);
  line-height: rem(21.83px);
  font-weight: 400;
  color: rgba(156, 156, 156, 1);
  left: 0;
  top: rem(0px);
  z-index: -1;
  transition: 0.3s;
  @include onlymobile {
   font-size: rem(15px);
   line-height: rem(16.37px);
   top: rem(5px);
  }
 }
 &__input-subtitle {
  font-weight: 400;
  font-size: rem(14px);
  line-height: rem(15.28px);
 }
 &__input:focus + &__input-placeholder {
  color: white;
  transition: 0.3s;
 }
 &__input-placeholder.focus {
  font-size: rem(10px);
  line-height: rem(10.92px);
  transition: 0.3s;
  position: static;
  color: white;
 }
 &__form-button {
  font-weight: 600;
  font-size: rem(24px);
  line-height: rem(26.2px);
  padding: rem(15px) rem(20px);
  background: rgba(156, 156, 156, 1);
  border-radius: rem(20px);
  transition: 0.3s;
  &:hover {
   background: white;
   transition: 0.3s;
  }
  @include onlymobile {
   font-size: rem(15px);
   line-height: rem(16.37px);
   padding: rem(10px) rem(40px);
   border-radius: rem(10px);
  }
 }
 &__show-password {
  position: absolute;
  right: 0;
  background: none;
  height: rem(21px);
  width: rem(31px);
  padding: 0;
  cursor: pointer;
  top: rem(0px);
 }
 &__show-stroke {
  transition: 0.3s;
 }
 &__show-password.active &__show-stroke {
  opacity: 0;
  transition: 0.3s;
 }
 &__form-buttons {
  display: flex;
  gap: rem(30px);
  align-items: center;
  @include onlymobile {
   gap: rem(15px);
   flex-direction: column;
  }
 }
 &__form-buttons a {
  font-weight: 400;
  font-size: rem(20px);
  line-height: rem(21.83px);
  color: rgba(161, 161, 161, 1) !important;
  transition: 0.3s;
  @include onlymobile {
   font-size: rem(14px);
   line-height: rem(15.28px);
  }
 }
 &__form-buttons a:hover {
  color: white !important;
  transition: 0.3s;
 }
 &__telegram-button {
  display: flex;
  gap: rem(10px);
  background: rgba(84, 169, 235, 1);
  border-radius: rem(10px);
  padding: rem(5px) rem(20px);
  font-size: rem(20px);
  font-weight: 600;
  line-height: rem(21.83px);
  color: white;
  align-items: center;
  @include ifdesktop {
   width: rem(320px);
  }
  @include onlymobile {
   padding: rem(12.5px) rem(20px);
   font-size: rem(16px);
   line-height: rem(17.46px);
   width: rem(259px);
  }
 }
 &__telegram-icon {
  width: rem(30px);
  height: rem(30px);
  @include onlymobile {
   width: rem(20px);
   height: rem(20px);
  }
 }
 &__ways {
  display: flex;
  flex-direction: column;
  row-gap: rem(60px);
  @include onlymobile {
   row-gap: rem(50px);
  }
 }
 &__way {
  display: flex;
  flex-direction: column;
  row-gap: rem(30px);
  @include ifdesktop {
   width: fit-content;
  }
  @include onlymobile {
   row-gap: rem(20px);
  }
 }
 &__way-title {
  font-weight: 500;
  font-size: rem(24px);
  line-height: rem(26.2px);
  @include onlymobile {
   font-size: rem(16px);
   line-height: rem(17.46px);
  }
 }
 &__email-button {
  display: flex;
  gap: rem(10px);
  background: none;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: rem(20px);
  padding: rem(15px) rem(20px);
  color: white;
  font-size: rem(16px);
  line-height: rem(17.46px);
  font-weight: 400;
  align-items: center;
  @include onlymobile {
   padding: rem(15px) rem(15px);
   font-size: rem(14px);
   line-height: rem(15.28px);
   width: rem(259px);
  }
 }
 &__email-button-icon {
  width: rem(25px);
  height: rem(25px);
  @include onlymobile {
   width: rem(20px);
   height: rem(20px);
  }
 }
 &__copyright {
  font-size: rem(16px);
  line-height: rem(17.46px);
  color: rgba(161, 161, 161, 1);
  font-weight: 400;
  @include onlymobile {
   font-size: rem(10px);
   line-height: rem(10.92px);
  }
 }

 &__get-code {
  font-size: rem(15px);
  line-height: rem(16.37px);
  font-weight: 400;
  color: rgba(156, 156, 156, 1);
  border: 1px solid rgba(156, 156, 156, 1);
  border-radius: rem(10px);
  background: none;
  position: absolute;
  right: 0;
  top: rem(-7px);
  padding: rem(5px);
  transition: 0.3s;
  &:hover {
   border: 1px solid white;
   transition: 0.3s;

   color: white;
  }
 }
 &__input-error {
  font-weight: 400;
  font-size: rem(10px);
  line-height: rem(10.92px);
  color: rgba(246, 0, 0, 1);
  transition: 0.3s;
 }

 &__input-wrapper.verified &__show-password {
  display: none;
 }
 &__lang {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  gap: rem(10px);
  position: relative;
 }
 &__lang:hover &__lang-icon {
  transform: scale(0.8);
  transition: 0.3s;
  @include ifdesktop {
   transform-origin: top left;
  }
  @include onlymobile {
   transform: scale(1.2);
  }
 }
 &__lang:hover {
  gap: 0;
  align-items: center;
  transition: 0.3s;
 }
 &__lang:hover &__lang-icon path {
  transition: 0.3s;
  stroke: white;
 }
 &__lang-icon {
  width: rem(35px);
  height: rem(35px);
  transition: 0.3s;
  @include onlymobile {
   width: rem(20px);
   height: rem(20px);
  }
 }
 &__lang-icon path {
  transition: 0.3s;
 }

 &__lang-current {
  transition: 0.3s;
  font-weight: 100;
  font-size: rem(24px);
  line-height: rem(26.2px);
  width: rem(37px);
  @include onlymobile {
   display: none;
  }
 }

 &__lang:hover &__lang-current {
  transition: 0.3s;
  font-weight: 300;
  font-size: rem(20px);
  line-height: rem(21.83px);
  width: rem(31px);
 }
 &__lang:hover &__lang-list {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
 }

 &__lang-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: rem(5px);
  right: 0;
  padding-top: 8px;
  opacity: 0;
  visibility: hidden;
  top: 70%;
  transition: 0.3s;
  @include onlymobile {
   top: 90%;
   right: rem(-5px);
  }
 }
 &__lang-list-item {
  font-weight: 300;
  font-size: rem(20px);
  line-height: rem(21.83px);
  color: rgba(161, 161, 161, 1);
 }

 &__back-page {
  width: rem(26px);
  height: rem(26px);
  transition: 0.3s;
  &:active {
   transition: 0.3s;
   transform: scale(1.2);
  }
 }
}
