$base-font-size: 16px;

$design-mobile-width: 375px;
$design-desktop-width: 1440px;

//frontend breakpoint
$mobile-w: 375px;
$tablet-w: 1024px;
$desktop-w: 1440px;

$color-default-background: #000000;
$color-primary: #ffffff;

$font-main: 'Montserrat', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-nexa: 'Nexa Trial', sans-serif;
$font-inter: 'Inter', sans-serif;
